ase==3.29.0
assyst==0.15.0
atomistics==0.3.8
calphy==2.0.0
custodian==2025.12.14
executorlib==1.10.1
jupyterlab==4.6.2
landau==1.11.0
lxml==6.1.1
matplotlib==3.11.1
mpi4py==4.1.2
nglview==3.1.4
phono3py==4.4.0
pygraphviz==1.14
pyiron-snippets==1.4.0
pylammpsmpi==0.5.0
pysqa==0.4.4
pyxtal==1.1.4
seaborn==0.13.2
tensorflow==2.19.1
